.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8f8fb;
    height: 46px;
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 6px;
    padding: 0 20px;
    user-select: none;
    cursor: pointer;

    &--text {
        background: transparent;
        font-weight: 400;
        color: #9e9da8;
    }
    &--primary {
        background: #ffb700;
    }
    &--outline {
        background: transparent;
        border: 1px solid #d2d1d6;
    }

    &--rounded {
        border-radius: 99px;
    }

    &:hover {
        opacity: 0.7;
    }

    &--disabled {
        opacity: 0.4;
        pointer-events: none;
    }
}
