.payment-card {
    position: relative;
    background: var(--bg-cl);
    border-radius: 10px;
    color: #fff;
    padding: 20px;
    z-index: 0;
    &__img {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }

    &__top {
        display: flex;
        align-items: center;
        gap: 6px;
    }

    &__type {
        font-size: 14px;
        font-weight: 500;
        line-height: 142.857%; /* 142.857% */
    }

    &__number {
        margin-top: 37px;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px; /* 144.444% */
    }

    &__bottom {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__label {
        font-size: 0.8rem;
        font-weight: 500;
        line-height: 144.444%; /* 144.444% */
    }
    &__value {
        font-size: 1rem;
        font-weight: 500;
        line-height: 140%; /* 140% */
    }
}

.new-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    gap: 14px;
    min-height: 173px;
    border-radius: 10px;
    border: 1px dashed #d2d1d6;
    &__text {
        color: #d2d1d6;

        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142.857%; /* 142.857% */
    }
}
