.review-card {
    background: var(--review-card-background);
    padding: 30px;
    border-radius: 16px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__avatar {
        width: 80px;
        height: 80px;
        border-radius: 999px;
    }

    &__content {
        display: flex;
        gap: 20px;
    }

    &__info {
    }

    &__title {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%; /* 145.455% */
    }

    &__desc {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 150%; /* 150% */
    }

    &__rating {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__score {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%; /* 144.444% */
    }
}
